.section--princess{

    background: url("../assets/images/princess.png");
    background-size:cover;
    background-repeat: no-repeat;
    // width: 100vw;

    p{

        width: 60% !important;
    }

}