body {
  max-height: 100vh;
background-color: black;
  font-size: 20px;
  line-height: 1.5;
  color: black;
// overflow-y: hidden;
  font-family: "the-seasons", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-weight: 300;
  font-style: normal;
  overflow-y: hidden;
}

.title {
  font-family: "Press Start 2P", system-ui;
  color: white;
  font-weight: 500;
  font-style: normal;
  font-size: 24vw; 
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  line-height: 0;
  bottom: 20%;
  margin: 0;
  left: 3.5%;
}
 