body {

  font-size: 20px;
  line-height: 1.5;
  color: black;
  
  font-family: "Press Start 2P", system-ui;
  font-weight: 300;
  font-style: normal;
}

.title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 24vw; 
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  line-height: 0;
  bottom: -9%;
  left: 3.5%;
}
